<footer>
  <div class="container">

    <div class="row">
      <div class="col col-12">
        <div class="walking-container small">
          <div class="walking"></div>
        </div>
      </div>
      <div class="col col-12 col-lg-4">
        <h4>{{ site.title }}</h4>
        <p>{{ site.description }}</p>
      </div>
      <div class="col col-12 col-lg-2">
      </div>
      <div class="col col-12 col-lg-3">
        <h4>Contacto</h4>
        <p><i class="bi bi-arrow-right"></i> Latam – hola@desdestudio.com<br/>
          <i class="bi bi-arrow-right"></i> Europa – hello@desdestudio.com</p>
        <address>
          <i class="bi bi-geo-alt"></i>
          <span>Calle Buenos Aires 2775<br/>
          Colonia Providencia 4ta. Sección<br/>
          44639 Guadalajara, México</span>
        </address>
      </div>
      <div class="col col-12 col-lg-3">
        <h4>Trabaja con nosotros</h4>
        <p><i class="bi bi-arrow-right"></i> jobs@desdestudio.com</p>
      </div>
      <div class="col col-12">
        <p class="small">© {{ site.title }} {{ 'now' | date: "%Y" }}<br/>Todos los derechos reservados</p>
      </div>
    </div>

  </div>
</footer>
