

// aboutSection

.about-home {
  padding: 2rem 0;

  .description {
    p {
      color: $dark;
      font-size: 1.4rem;
    }
  }
}

lo


.container.about {

  img {
    object-fit: fill;
    max-height: 400px;
  }
}

.about {
  .row {
    margin-bottom: 3rem;
  }
}
