
// header

.hero,
div.hero {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: auto;
  padding: 2rem 0;
  margin-bottom: .5rem;
  box-sizing: content-box;

  @include lg {
    padding: 4rem 0;
    margin-bottom: 2rem;
  }
}
